@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-airplane105:before {
	content: "\e000";
}
.flaticon-airship1:before {
	content: "\e001";
}
.flaticon-frontal4:before {
	content: "\e002";
}
.flaticon-info24:before {
	content: "\e003";
}
.flaticon-multiple25:before {
	content: "\e004";
}
.flaticon-ocean3:before {
	content: "\e005";
}
.flaticon-opened4:before {
	content: "\e006";
}
.flaticon-pdf17:before {
	content: "\e007";
}
.flaticon-printer70:before {
	content: "\e008";
}
.flaticon-round67:before {
	content: "\e009";
}
.flaticon-settings48:before {
	content: "\e00a";
}
.flaticon-simple18:before {
	content: "\e00b";
}
.flaticon-submarine4:before {
	content: "\e00c";
}
.flaticon-train5:before {
	content: "\e00d";
}
.flaticon-train6:before {
	content: "\e00e";
}
