<div class="row">
    <div class="col-xs-12 col-sm-4">
        <span class="connection-name">R 605 Dargov</span><br>
        <span class="connection-trace">Malacky - Žilina</span><br>
        <span class="connection-date"><b>Odchod:</b> 20.11.2014 12:24</span><br>
        <span class="connection-date"><b>Príchod:</b> 20.11.2014 18:12</span>
        <br><br>
    </div>
    <div class="col-xs-12 col-sm-8">
        <table>
            <tr><td colspan="2"><button class="main-button result-buy-button" data-toggle="modal" data-target="#myModal" style="margin-left:20px">Nákup lístka</button></td></tr>
            <tr>
                <td>
                    <div class="flaticon-printer70 toolicon" onclick="alert('Výsledky sa vytlačia');"> Vytlačiť</div>
                </td>
                <td>
                    <div class="flaticon-pdf17 toolicon" onclick="alert('Výsledky sa stiahli vo forme PDF');"> PDF</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="flaticon-opened4 toolicon" onclick="alert('Výsledky sa poslali emailom na zadanú adresu');"> Poslať emailom</div>
                </td>
                <td>
                    <div class="flaticon-simple18 toolicon" onclick="alert('Spoj bol pridaný do Mojich spojení');"> Pridať do Mojich spojení</div>
                </td>
            </tr>
        </table>
    </div>
    <div id="details-connections">
        <table class="search-result table">
            <tr valign="center" class="search-result-main-row">
                <td style="max-width: 70px;">
                    <div class="flaticon-train5 bigicon"></div>
                </td>
                <td>
                    <h4><span class="connection-name">Os 2015</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Malacky &raquo; Bratislava hl.st.</h4>
                    38 min, 38 km, Železničná spoločnosť Slovensko a.s.<br><br>
                    <table class="table table-striped connection-inner-table table-condensed">
                        <tr><th>Zastávka</th><th>Príchod</th><th>Odchod</th><th>Vzdialenosť</th></tr>
                        <tr><td><i>Kúty</i></td><td></td><td><i>8:38</i></td><td><i>0</i></td></tr>
                        <tr><td><b>Malacky</b></td><td>9:03</td><td>9:04</td><td>26</td></tr>
                        <tr><td>Plavecký Štvrtok</td><td>9:09</td><td>9:10</td><td>33</td></tr>
                        <tr><td>Zohor</td><td>9:14</td><td>9:15</td><td>38</td></tr>
                        <tr><td>Devínske Jazero</td><td>9:21</td><td>9:22</td><td>47</td></tr>
                        <tr><td>Devínska N.Ves</td><td>9:25</td><td>9:26</td><td>51</td></tr>
                        <tr><td>Bratislava-Lamač</td><td>9:32</td><td>9:33</td><td>59</td></tr>
                        <tr><td>Bratislava-Žel.stud.</td><td>9:35</td><td>9:36</td><td>61</td></tr>
                        <tr><td><b>Bratislava hl.st.</b></td><td>9:42</td><td></td><td>64</td></tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="search-result table">
            <tr valign="center" class="search-result-main-row">
                <td style="max-width: 70px;">
                    <div class="flaticon-train5 bigicon"></div>
                </td>
                <td>
                    <h4><span class="connection-name">R 605 Dargov</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bratislava hl.st. &raquo; Žilina</h4>
                    2 hod 46 min, 203 km, Železničná spoločnosť Slovensko a.s.<br><br>
                    <table class="table table-striped connection-inner-table table-condensed">
                        <tr><th>Zastávka</th><th>Príchod</th><th>Odchod</th><th>Vzdialenosť</th></tr>
                        <tr><td><b>Bratislava hl.st.</b></td><td></td><td>9:55</td><td>0</td></tr>
                        <tr><td>Bratislava-Vinohrady</td><td>10:00</td><td>10:01</td><td>4</td></tr>
                        <tr><td>Trnava</td><td>10:24</td><td>10:26</td><td>33</td></tr>
                        <tr><td>Leopoldov</td><td>10:38</td><td>10:40</td><td>38</td></tr>
                        <tr><td>Piešťany</td><td>10:51</td><td>10:52</td><td>47</td></tr>
                        <tr><td>Nové Mesto n.Váhom</td><td>11:03</td><td>11:05</td><td>51</td></tr>
                        <tr><td>Trenčín</td><td>9:32</td><td>11:22</td><td>59</td></tr>
                        <tr><td>Trenčianska Teplá</td><td>11:32</td><td>11:34</td><td>61</td></tr>
                        <tr><td>Púchov</td><td>9:35</td><td>11:55</td><td>61</td></tr>
                        <tr><td>Považská Bystrica</td><td>12:08</td><td>12:10</td><td>61</td></tr>
                        <tr><td><b>Žilina</b></td><td>12:41</td><td>12:45</td><td>64</td></tr>
                        <tr><td><i>Košice</i></td><td><i>15:52</i></td><td></td><td><i>445</i></td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>